@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 228 8% 24%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 25%;
    --popover: 0 0% 95%;
    --popover-foreground: 228 8% 14%;
    --card: 0 0% 96%;
    --card-foreground: 228 8% 19%;
    --border: 0 0% 93%;
    --input: 0 0% 90%;
    --primary: 216 12% 8%;
    --primary-foreground: 216 12% 68%;
    --secondary: 216 2% 75%;
    --secondary-foreground: 216 2% 15%;
    --accent: 0 0% 83%;
    --accent-foreground: 0 0% 23%;
    --destructive: 2 95% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 216 12% 8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 195 6% 12%;
    --foreground: 43 59% 81%;
    --muted: 195 0% 16%;
    --muted-foreground: 195 0% 50%;
    --popover: 195 6% 9%;
    --popover-foreground: 43 59% 91%;
    --card: 195 6% 10%;
    --card-foreground: 43 59% 86%;
    --border: 0 0% 17%;
    --input: 0 0% 20%;
    --primary: 43 59% 81%;
    --primary-foreground: 43 59% 21%;
    --secondary: 43 30% 25%;
    --secondary-foreground: 43 30% 85%;
    --accent: 195 6% 27%;
    --accent-foreground: 195 6% 87%;
    --destructive: 4 84% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 43 59% 81%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .prose {
    @apply dark:prose-invert;
  }

  ::selection {
    @apply bg-foreground text-background invert;
  }

  -moz-user-select {
    @apply bg-foreground text-background invert;
  }
}
