@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 150 100% 95%;
		--foreground: 150 5% 0%;
		--card: 150 50% 90%;
		--card-foreground: 150 5% 10%;
		--popover: 150 100% 95%;
		--popover-foreground: 150 100% 0%;
		--primary: 150 43.8% 80%;
		--primary-foreground: 0 0% 0%;
		--secondary: 150 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 112 30% 85%;
		--muted-foreground: 150 5% 35%;
		--accent: 112 30% 80%;
		--accent-foreground: 150 5% 10%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 150 5% 90%;
		--border: 150 30% 50%;
		--input: 150 30% 18%;
		--ring: 150 43.8% 87.5%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 150 10% 5%;
		--foreground: 150 0% 90%;
		--card: 150 0% 0%;
		--card-foreground: 150 0% 90%;
		--popover: 150 10% 5%;
		--popover-foreground: 150 0% 90%;
		--primary: 150 43.8% 87.5%;
		--primary-foreground: 0 0% 0%;
		--secondary: 150 10% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 112 10% 15%;
		--muted-foreground: 150 0% 60%;
		--accent: 112 10% 15%;
		--accent-foreground: 150 0% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 150 0% 90%;
		--border: 150 20% 18%;
		--input: 150 20% 18%;
		--ring: 150 43.8% 87.5%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.prose h1 {
		@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
	}
	.prose h2 {
		@apply scroll-m-20 border-b pb-2 text-4xl font-semibold tracking-tight first-of-type:mt-2 first-of-type:text-2xl first-of-type:opacity-70  mt-8;
	}
	.prose h3 {
		@apply scroll-m-20 text-2xl font-semibold tracking-tight mt-4;
	}
	.prose h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}
	.prose h5 {
		@apply scroll-m-20 text-lg font-semibold tracking-tight;
	}
	.prose h6 {
		@apply scroll-m-20 text-base font-medium tracking-tight;
	}
	.prose p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}
	.prose ul {
		@apply list-disc pl-6 [&:not(:first-child)]:mt-6;
	}
	.prose ol {
		@apply list-decimal pl-6 [&:not(:first-child)]:mt-6;
	}
	.prose li {
		@apply leading-7;
	}
	.prose a {
		@apply text-foreground/80 underline hover:text-foreground transition-colors cursor-pointer;
	}
	.prose strong {
		@apply font-semibold;
	}
	.prose em {
		@apply italic;
	}
	.prose hr {
		@apply my-6 border-t border-border;
	}
	.prose blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}
	.prose table {
		@apply w-full;
	}
	.prose tr {
		@apply m-0 border-t p-0 even:bg-muted;
	}
	.prose th {
		@apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
	}
	.prose td {
		@apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
	}
	.prose code {
		@apply bg-foreground/90 text-background font-medium font-mono p-1 px-2 rounded-md;
	}
	.prose pre {
		@apply bg-foreground/90 text-background font-mono p-4 rounded-md overflow-auto text-wrap;
	}
	.prose pre code {
		@apply bg-transparent text-inherit p-0;
	}
	.prose img {
		@apply w-full h-auto;
	}
	.prose video {
		@apply w-full h-auto;
	}
	.prose figure {
		@apply mt-6;
	}
	.prose figcaption {
		@apply text-sm text-muted text-center;
	}
}
