@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 98%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 0%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0rem;
	}

	.dark {
		--background: 240 10% 6%;
		--foreground: 0 0% 98%;
		--card: 240 10% 10%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 10%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 25%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.prose h1 {
		@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
	}
	.prose h2 {
		@apply scroll-m-20 border-b pb-2 text-4xl font-semibold tracking-tight first-of-type:mt-2 first-of-type:text-2xl first-of-type:opacity-70  mt-8;
	}
	.prose h3 {
		@apply scroll-m-20 text-2xl font-semibold tracking-tight mt-4;
	}
	.prose h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}
	.prose h5 {
		@apply scroll-m-20 text-lg font-semibold tracking-tight;
	}
	.prose h6 {
		@apply scroll-m-20 text-base font-medium tracking-tight;
	}
	.prose p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}
	.prose ul {
		@apply list-disc pl-6 [&:not(:first-child)]:mt-6;
	}
	.prose ol {
		@apply list-decimal pl-6 [&:not(:first-child)]:mt-6;
	}
	.prose li {
		@apply leading-7;
	}
	.prose a {
		@apply text-foreground/80 underline hover:text-foreground transition-colors cursor-pointer;
	}
	.prose strong {
		@apply font-semibold;
	}
	.prose em {
		@apply italic;
	}
	.prose hr {
		@apply my-6 border-t border-border;
	}
	.prose blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}
	.prose table {
		@apply w-full;
	}
	.prose tr {
		@apply m-0 border-t p-0 even:bg-muted;
	}
	.prose th {
		@apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
	}
	.prose td {
		@apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
	}
	.prose code {
		@apply bg-foreground/90 text-background font-medium font-mono p-1 px-2 rounded-md;
	}
	.prose pre {
		@apply bg-foreground/90 text-background font-mono p-4 rounded-md overflow-auto text-wrap;
	}
	.prose pre code {
		@apply bg-transparent text-inherit p-0;
	}
	.prose img {
		@apply w-full h-auto;
	}
	.prose video {
		@apply w-full h-auto;
	}
	.prose figure {
		@apply mt-6;
	}
	.prose figcaption {
		@apply text-sm text-muted text-center;
	}
}
